<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.admin.mapper.CategoryMapper">
    <select id="countArticle" resultType="me.mcx.modules.blog.domain.vo.SystemCategoryCountVO">
        select a.name, count(b.id) as value
        from blog_category a left join blog_article b
        on a.id=b.category_id
        GROUP BY a.id
    </select>

    <select id="selectCategory" resultType="me.mcx.modules.blog.domain.vo.SystemCategoryListVO">
        select a.id,a.name,a.sort,a.create_time,a.click_volume,a.icon,b.articleCount from blog_category a
        left join (select category_id,count(id) as articleCount from blog_article group by category_id) b on
        a.id=b.category_id
        <where>
            <if test="name != null">
                a.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

</mapper>
