<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.admin.mapper.PropMapper">

    <update id="deductPropByUserIdAndPropId">
        update blog_user_prop set num = num - #{num} where user_id=#{userId} and prop_id=#{propId}
    </update>


    <select id="selectPropByUserIdAndPropId" resultType="java.lang.Integer">
        select num from blog_user_prop where user_id=#{userId} and prop_id=#{propId}
    </select>
</mapper>
