<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.admin.mapper.TalkMapper">

    <select id="selectTalkListApi" resultType="me.mcx.modules.blog.domain.vo.talk.ApiTalkListVO">
        select id,name,icon from blog_talk where status = 1
    </select>
</mapper>
