files/file/*
docker/**/*.jar
docker/mysql/**/*.sql
docker/mysql/data/*
docker/cxblog/html/*
docker/redis/data/*

!docker/**/readme.txt
# Editor directories and files
.git
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

