<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.blog.mapper.BlogForumLikeMapper">
    
    <resultMap type="BlogForumLike" id="BlogForumLikeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="forumId"    column="forum_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBlogForumLikeVo">
        select id, user_id, forum_id, create_by, create_time, update_by, update_time, remark from blog_forum_like
    </sql>

    <select id="selectBlogForumLikeList" parameterType="BlogForumLike" resultMap="BlogForumLikeResult">
        <include refid="selectBlogForumLikeVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="forumId != null "> and forum_id = #{forumId}</if>
        </where>
    </select>
    
    <select id="selectBlogForumLikeById" parameterType="Long" resultMap="BlogForumLikeResult">
        <include refid="selectBlogForumLikeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlogForumLike" parameterType="BlogForumLike" useGeneratedKeys="true" keyProperty="id">
        insert into blog_forum_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="forumId != null">forum_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="forumId != null">#{forumId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlogForumLike" parameterType="BlogForumLike">
        update blog_forum_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="forumId != null">forum_id = #{forumId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogForumLikeById" parameterType="Long">
        delete from blog_forum_like where id = #{id}
    </delete>

    <delete id="deleteBlogForumLikeByIds" parameterType="String">
        delete from blog_forum_like where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>