<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.blog.mapper.BlogArticleMapper">
    
    <resultMap type="BlogArticle" id="BlogArticleResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="title"    column="title"    />
        <result property="avatar"    column="avatar"    />
        <result property="summary"    column="summary"    />
        <result property="content"    column="content"    />
        <result property="contentMd"    column="content_md"    />
        <result property="readType"    column="read_type"    />
        <result property="isStick"    column="is_stick"    />
        <result property="isPublish"    column="is_publish"    />
        <result property="isOriginal"    column="is_original"    />
        <result property="originalUrl"    column="original_url"    />
        <result property="quantity"    column="quantity"    />
        <result property="isCarousel"    column="is_carousel"    />
        <result property="isRecommend"    column="is_recommend"    />
        <result property="keywords"    column="keywords"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBlogArticleVo">
        select id, user_id, category_id, title, avatar, summary, content, content_md, read_type, is_stick, is_publish, is_original, original_url, quantity, is_carousel, is_recommend, keywords, create_by, create_time, update_by, update_time, remark from blog_article
    </sql>

    <select id="selectBlogArticleList" parameterType="BlogArticle" resultMap="BlogArticleResult">
        <include refid="selectBlogArticleVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="contentMd != null  and contentMd != ''"> and content_md = #{contentMd}</if>
            <if test="readType != null "> and read_type = #{readType}</if>
            <if test="isStick != null "> and is_stick = #{isStick}</if>
            <if test="isPublish != null "> and is_publish = #{isPublish}</if>
            <if test="isOriginal != null "> and is_original = #{isOriginal}</if>
            <if test="originalUrl != null  and originalUrl != ''"> and original_url = #{originalUrl}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="isCarousel != null "> and is_carousel = #{isCarousel}</if>
            <if test="isRecommend != null "> and is_recommend = #{isRecommend}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
        </where>
    </select>
    
    <select id="selectBlogArticleById" parameterType="Long" resultMap="BlogArticleResult">
        <include refid="selectBlogArticleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBlogArticle" parameterType="BlogArticle" useGeneratedKeys="true" keyProperty="id">
        insert into blog_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="avatar != null">avatar,</if>
            <if test="summary != null and summary != ''">summary,</if>
            <if test="content != null">content,</if>
            <if test="contentMd != null">content_md,</if>
            <if test="readType != null">read_type,</if>
            <if test="isStick != null">is_stick,</if>
            <if test="isPublish != null">is_publish,</if>
            <if test="isOriginal != null">is_original,</if>
            <if test="originalUrl != null">original_url,</if>
            <if test="quantity != null">quantity,</if>
            <if test="isCarousel != null">is_carousel,</if>
            <if test="isRecommend != null">is_recommend,</if>
            <if test="keywords != null">keywords,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="summary != null and summary != ''">#{summary},</if>
            <if test="content != null">#{content},</if>
            <if test="contentMd != null">#{contentMd},</if>
            <if test="readType != null">#{readType},</if>
            <if test="isStick != null">#{isStick},</if>
            <if test="isPublish != null">#{isPublish},</if>
            <if test="isOriginal != null">#{isOriginal},</if>
            <if test="originalUrl != null">#{originalUrl},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="isCarousel != null">#{isCarousel},</if>
            <if test="isRecommend != null">#{isRecommend},</if>
            <if test="keywords != null">#{keywords},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBlogArticle" parameterType="BlogArticle">
        update blog_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contentMd != null">content_md = #{contentMd},</if>
            <if test="readType != null">read_type = #{readType},</if>
            <if test="isStick != null">is_stick = #{isStick},</if>
            <if test="isPublish != null">is_publish = #{isPublish},</if>
            <if test="isOriginal != null">is_original = #{isOriginal},</if>
            <if test="originalUrl != null">original_url = #{originalUrl},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="isCarousel != null">is_carousel = #{isCarousel},</if>
            <if test="isRecommend != null">is_recommend = #{isRecommend},</if>
            <if test="keywords != null">keywords = #{keywords},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogArticleById" parameterType="Long">
        delete from blog_article where id = #{id}
    </delete>

    <delete id="deleteBlogArticleByIds" parameterType="String">
        delete from blog_article where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCount" parameterType="BlogArticle" resultType="Integer">
        SELECT COUNT(*) AS count FROM blog_article
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="contentMd != null  and contentMd != ''"> and content_md = #{contentMd}</if>
            <if test="readType != null "> and read_type = #{readType}</if>
            <if test="isStick != null "> and is_stick = #{isStick}</if>
            <if test="isPublish != null "> and is_publish = #{isPublish}</if>
            <if test="isOriginal != null "> and is_original = #{isOriginal}</if>
            <if test="originalUrl != null  and originalUrl != ''"> and original_url = #{originalUrl}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="isCarousel != null "> and is_carousel = #{isCarousel}</if>
            <if test="isRecommend != null "> and is_recommend = #{isRecommend}</if>
            <if test="keywords != null  and keywords != ''"> and keywords = #{keywords}</if>
        </where>
    </select>

<!--    =======================================-->
    <resultMap id="selectArticleByIdToVOMap" type="me.mcx.blog.domain.vo.article.ApiArticleInfoVO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_Id" jdbcType="VARCHAR" property="userId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="content_md" jdbcType="INTEGER" property="contentMd"/>
        <result column="is_original" jdbcType="INTEGER" property="isOriginal"/>
        <result column="original_url" jdbcType="VARCHAR" property="originalUrl"/>
        <result column="keywords" jdbcType="VARCHAR" property="keywords"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="is_publish" jdbcType="INTEGER" property="isPublish"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="read_type" jdbcType="INTEGER" property="readType"/>
        <association property="category" javaType="me.mcx.blog.domain.BlogCategory">
            <id property="id" column="cid" jdbcType="BIGINT"></id>
            <result property="name" column="cname" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>

    <resultMap id="selectArticleToVOMap" type="me.mcx.blog.domain.vo.article.SystemArticleListVO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_Id" jdbcType="VARCHAR" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="is_original" jdbcType="INTEGER" property="isOriginal"/>
        <result column="is_publish" jdbcType="INTEGER" property="isPublish"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="read_type" jdbcType="INTEGER" property="readType"/>
        <result property="categoryName" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nick_name" jdbcType="VARCHAR"/>
        <result property="isStick" column="is_stick" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectArticle" resultMap="selectArticleToVOMap">
        SELECT
        a.*,
        b.name,
        group_concat( t.NAME SEPARATOR ',' ) AS tagNames
        FROM
        blog_article a
        JOIN blog_category b ON a.category_id = b.id
        JOIN blog_article_tag atg ON a.id = atg.article_id
        JOIN blog_tags t ON atg.tag_id = t.id
        <where>
            <if test="title != null and title != ''">
                a.title like concat('%',#{title},'%')
            </if>
            <if test="categoryId != null and categoryId != ''">
                and a.category_id=#{categoryId}
            </if>
            <if test="isPublish != null and isPublish != ''">
                and a.is_publish=#{isPublish}
            </if>
            <if test="tagId != null and tagId != ''">
                and atg.tag_id=#{tagId}
            </if>
        </where>
        GROUP BY a.id order by a.is_stick desc ,a.create_time desc
    </select>

    <select id="selectArticlePrimaryKey" resultType="me.mcx.blog.domain.dto.article.ArticleDTO">
        select a.id,
               a.title,
               a.avatar,
               a.summary,
               a.quantity,
               a.content,
               a.content_md as contentMd,
               a.read_type as readType,
               a.is_stick as isStick,
               a.is_publish as isPublish,
               a.is_original as isOriginal,
               a.original_url as originalUrl,
               a.create_time as createTime,
               b.name as categoryName,
               a.is_carousel as isCarousel,
               a.keywords,
               a.is_recommend as isRecommend
        from blog_article a
                 LEFT JOIN (SELECT id, name from blog_category) b on a.category_id = b.id
        where a.id = #{id}
    </select>

    <select id="contribute" resultType="me.mcx.blog.domain.vo.article.SystemArticleContributeVO">
        select count, date
        from
            (SELECT
            count(id) as 'count', DATE(create_time) as date
            FROM
            `blog_article`
            where DATE_FORMAT(create_time, '%Y-%m-%d') between #{lastTime} and #{nowTime}
            GROUP BY DATE(create_time)) AS blog
        ORDER BY blog.date ASC
    </select>


    <update id="putTopArticle">
        update blog_article
        set is_stick = #{article.isStick}
        where id = #{article.id}
    </update>
    <select id="selectSearchArticle" resultType="me.mcx.blog.domain.vo.article.ApiArticleSearchVO">
        select a.id,
               a.title,
               a.summary,
               a.is_stick,
               a.create_time
        from blog_article a
        where LOWER(a.title) like concat('%', #{keywords}, '%') and a.is_publish = 1 order by a.create_time desc
    </select>

    <select id="selectPublicArticleList" resultType="me.mcx.blog.domain.vo.article.ApiArticleListVO">
        select a.id, a.title, a.avatar,a.summary,a.quantity,a.is_stick,a.is_original,a.user_id,c.id as categoryId,c.name as categoryName,
        a.create_time, a.user_id
        from blog_article a
        left join blog_category c on a.category_id = c.id
        where a.is_publish = 1
        <if test="categoryId != null and categoryId != 0">
            and a.category_id = #{categoryId}
        </if>
        <if test="tagId != null">
            and a.id in (select article_id from blog_article_tag where tag_id =#{tagId})
        </if>
        order by a.is_stick desc,
        <choose>
            <when test="orderByDescColumn != null and orderByDescColumn != ''">
                a.${orderByDescColumn} desc
            </when>
            <otherwise>
                a.create_time desc
            </otherwise>
        </choose>
    </select>

    <select id="selectListArchive" resultType="me.mcx.blog.domain.vo.article.ApiArchiveVO">
        select id,
               title,
               DATE_FORMAT(create_time, '%Y-%m') as 'time', create_time as formatTime
        from blog_article where is_publish = 1
        order by create_time desc
    </select>
    <select id="selectArticleByIdToVO" resultMap="selectArticleByIdToVOMap">
        select a.id,
               a.user_id,
               a.title,
               a.summary,
               a.content,
               a.content_md,
               a.quantity,
               a.create_time,
               a.update_time,
               a.read_type,
               a.is_original,
               a.original_url,
               a.is_publish,
               a.keywords,
               a.address,
               c.id   as cid,
               c.name as cname
        from blog_article a
                 left join blog_category c on a.category_id = c.id
        where a.id = #{id}
    </select>
    <select id="selectListByBanner" resultType="me.mcx.blog.domain.vo.article.SystemArticleListVO">
        select id, title, avatar
        from blog_article
        where is_carousel = 1 and is_publish = 1
        order by is_stick desc ,create_time desc
    </select>

    <select id="selectRecommendArticle" resultType="me.mcx.blog.domain.vo.article.ApiArticleListVO">
        select id, title, avatar,create_time
        from blog_article where is_recommend = 1
        order by create_time desc limit 5
    </select>

    <select id="selectHotArticleList" resultType="me.mcx.blog.domain.vo.article.ApiArticleListVO">
        select id, title
        from blog_article where is_publish = 1
        order by quantity desc limit 5
    </select>
    <select id="selectMyArticle" resultType="me.mcx.blog.domain.vo.article.ApiArticleListVO">
        SELECT
        a.*,
        b.NAME AS categoryName,
        b.id AS categoryId
        FROM
        blog_article a
        left JOIN blog_category b ON a.category_id = b.id
        where a.user_id =#{userId}
        <if test="type != null and type != ''">
            and a.is_publish = #{type}
        </if>
        order by a.create_time desc
    </select>
    <select id="selectMyArticleInfo" resultType="me.mcx.blog.domain.dto.article.ArticlePostDTO">
        SELECT
            *
        FROM
            blog_article
        where id = #{id}
    </select>
</mapper>