<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.mapper.TipsoonCommentMapper">
    <select id="selectPageList" resultType="me.mcx.modules.blog.domain.vo.SystemCommentVO">
        SELECT
        c.id,
        au.avatar,
        au.nickname,
        IF(rau.nickname is null,'无',rau.nickname) as replyNickname,
        a.title as articleTitle,
        c.content,
        c.create_time
        FROM
        blog_tipsoon_comment c
        LEFT JOIN ( SELECT user_id, user_info_id FROM sys_user ) u ON c.user_id = u.user_id
        LEFT JOIN ( SELECT id, avatar, nickname FROM blog_user_info ) au ON u.user_info_id = au.id
        LEFT JOIN ( SELECT id, title FROM blog_tipsoon ) a ON c.tipsoon_id = a.id
        LEFT JOIN ( SELECT user_id, user_info_id FROM sys_user ) ru ON c.reply_user_id = ru.user_id
        LEFT JOIN ( SELECT id, avatar, nickname FROM blog_user_info ) rau ON ru.user_info_id = rau.id
        <where>
            <if test="keywords != null and keywords != ''">
                au.nickname like concat('%',#{keywords},'%') or rau.nickname like concat('%',#{keywords},'%')
            </if>
        </where>
        order by c.create_time desc
    </select>

    <select id="selectListByTipsoonId" resultType="me.mcx.modules.blog.domain.vo.tipsoon.ApiTipsoonCommentVO">
        select fm.id,fm.create_time,fm.user_id,fm.address,fm.reply_user_id,fm.content,ui.nickname,ui.avatar from blog_tipsoon_comment fm
        left join sys_user u on fm.user_id=u.user_id
        left join blog_user_info ui on ui.id=u.user_info_id
        where fm.tipsoon_id = #{tipsoonId} and fm.parent_id is null
        order by fm.create_time desc
    </select>
</mapper>
