<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.mapper.ImRoomMapper">


    <select id="selectListByUserId" resultType="me.mcx.modules.blog.domain.vo.ImRoomListVO">
        select im.id,im.create_time,toUser.id as toUserId,toUser.nickname as toUserNickname,toUser.avatar as toUserAvatar
        from blog_im_room im
            left join (select u.user_id,ui.nickname,ui.avatar from sys_user u left join blog_user_info ui on u.user_info_id = ui.id) fromUser
            on fromUser.id = im.from_user_id
            left join (select u.user_id,ui.nickname,ui.avatar from sys_user u left join blog_user_info ui on u.user_info_id = ui.id) toUser
            on toUser.id = im.to_user_id
        where im.from_user_id=#{userId} order by create_time desc
    </select>
</mapper>
