<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.mapper.SponsorMapper">

    <select id="selectSponsorList" resultType="me.mcx.modules.blog.domain.vo.sponsor.SponsorListVO">
        select ui.nickname,ui.avatar,s.id,s.pay_img,s.status,s.money,s.create_time from blog_sponsor s
            left join sys_user u on s.user_id = u.user_id
            left join blog_user_info ui on u.user_info_id = ui.id
            <where>
                <if test="status != null and status != ''">
                    s.status = #{status}
                </if>
            </where>
       order by s.create_time desc
    </select>
</mapper>
