<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mcx.modules.blog.mapper.TipsoonCommentMapper">


    <select id="selectListByTipsoonId" resultType="me.mcx.modules.blog.domain.vo.tipsoon.ApiTipsoonCommentVO">
        select fm.id,fm.create_time,fm.user_id,fm.address,fm.reply_user_id,fm.content,ui.nickname,ui.avatar from blog_tipsoon_comment fm
        left join sys_user u on fm.user_id=u.user_id
        left join blog_user_info ui on ui.id=u.user_info_id
        where fm.tipsoon_id = #{tipsoonId} and fm.parent_id is null
        order by fm.create_time desc
    </select>
</mapper>
