@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698636887433') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao1:before {
  content: "\e64f";
}

.icon-search:before {
  content: "\e60e";
}

.icon-zaixian:before {
  content: "\e631";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-tupian:before {
  content: "\e658";
}

.icon-qqkongjian:before {
  content: "\e613";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-dianzan1:before {
  content: "\e64d";
}

.icon-fangwenliang:before {
  content: "\e634";
}

.icon-duigouxiao:before {
  content: "\e8be";
}

.icon-full-screen:before {
  content: "\e609";
}

.icon-code:before {
  content: "\e615";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-cuo:before {
  content: "\e646";
}

.icon-taiyang:before {
  content: "\e62f";
}

.icon-biaoqing:before {
  content: "\e60b";
}

.icon-shangjiantou:before {
  content: "\e63c";
}

.icon-chehui:before {
  content: "\e7f4";
}

.icon-shouye:before {
  content: "\e604";
}

.icon-dianzan4:before {
  content: "\e61f";
}

.icon-at:before {
  content: "\e648";
}

.icon-tuichuquanping:before {
  content: "\e71f";
}

.icon-fanyi:before {
  content: "\e623";
}

.icon-dianzan:before {
  content: "\e617";
}

.icon-quanping:before {
  content: "\e769";
}

.icon-weixin:before {
  content: "\e8bc";
}

.icon-resou:before {
  content: "\e61a";
}

.icon-shejiaotubiao-06:before {
  content: "\e641";
}

.icon-quxiaodianzan:before {
  content: "\e777";
}

.icon-menu_normal:before {
  content: "\e62d";
}

.icon-yueliang:before {
  content: "\e627";
}

.icon-dashang1:before {
  content: "\e600";
}

